.container{
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 6rem;
    padding-bottom: 6rem;

}
.follow{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}
.attag{
    padding-bottom: 1rem;
}
.instacontainer{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.5rem;
    padding: 1rem;
}
@media (min-width: 768px){
    .instacontainer{
    grid-template-columns: repeat(3, minmax(0, 1fr)); 
    }
}
@media (min-width: 1024px) {
    .instacontainer{
      grid-template-columns: repeat(6, minmax(0, 1fr)); 
    }
  }